#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: black;
}

li.todo-item{
  margin-bottom: 10px;
}
button.item-comp{
  margin-left: 10px;
  margin-right: 10px;
}



